<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.van.dao.OrderDetailMapper">
    <select id="findOrderDetail" resultType="Order_Detail">
        select *from van_Order_Detail where o_uid=#{o_uid}
    </select>
</mapper>