<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.van.dao.ProductMapper">
    <select id="findAllById" resultType="product">
        select *
        from van_product
        <include refid="showMap"/>
    </select>
    <sql id="showMap">
        <where>
            <if test="p_id!=null and p_id!=0">
                p_id=#{p_id}
            </if>
            <if test="p_name!=null and p_name!=''">
                and p_name like concat("%",#{p_name},"%")
            </if>
            <if test="categoryLevel1!=null and categoryLevel1!=0">
                categoryLevel1=#{categoryLevel1}
            </if>
            <if test="categoryLevel2!=null and categoryLevel2!=0">
                and categoryLevel2=#{categoryLevel2}
            </if>
            <if test="release!=null and release!=''">
                and release=#{release}
            </if>

        </where>
    </sql>

    <select id="findImgByPrant_class" resultType="img">
        SELECT * from van_img
        where prant_class=#{PrantClass}
    </select>
    
    <select id="findP_Pk_childrensByP_id" resultType="p_pk_children">
        SELECT * from p_pk_children
        where P_id=#{arg0} AND biao_id=#{arg1}
    </select>

    <select id="findColorByColorId" resultType="string">
    SELECT color_name FROM van_color
    where color_id=#{color_id}

    </select>
    
    <select id="findSizeByColorId" resultType="string">
        SELECT size_name from size_id
        WHERE size_id=#{Size_id}
    </select>
</mapper>