<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理 - 凡客网</title>
    <link type="text/css" rel="stylesheet" href="hou/css/style.css" />
    <script type="text/javascript" src="hou/scripts/function-manage.js"></script>
    <script th:src="@{js/jquery-1.8.3.min.js}"></script>
</head>
<body>
<div id="header" class="wrap">
    <div id="logo">
        <img src="hou/images/logo_new.jpg" style="height:50px;width:80px;"/>
    </div>
    <div class="help">
        <a href="index.html">返回前台页面</a>
    </div>

    <div class="navbar">
        <ul class="clearfix">
            <li><a th:href="@{shou}">首页</a></li>
            <li class="current"><a th:href="@{users}">用户</a></li>
            <li><a th:href="product">商品</a></li>
            <li><a th:href="@{order}">订单</a></li>
            <li><a href="#">留言</a></li>
        </ul>
    </div>
</div>
<div id="childNav">
    <div class="welcome wrap">管理员<span th:text="${session.user.login_name}"></span>您好，今天是2019-1-19，欢迎回到管理后台。</div>
</div>
<div id="position" class="wrap">
    您现在的位置：<a href="index.html">凡客网</a> &gt; 管理后台
</div>
<div id="main" class="wrap">
    <div id="menu-mng" class="lefter">
        <div class="box">
            <dl>
                <dt>用户管理</dt>
                <dd>
                    <a th:href="@{users}">用户管理</a></dd>
                <dt>商品信息</dt>
                <dd><em>
                    <a th:href="@{addProudctClass}">新增</a>
                </em><a th:href="@{productClass}">分类管理</a></dd>
                <dd><em><a th:href="@{addProduct}">新增</a></em>
                    <a th:href="@{product}">商品管理</a></dd>
                <dt>订单管理</dt>
                <dd><a th:href="@{order}">订单管理</a></dd>
                <dt>留言管理</dt>
                <dd><a href="">留言管理</a></dd>
            </dl>
        </div>
    </div>
    <div class="main">
        <h2>修改订单</h2>
        <div class="manage">
            <form action="modify" method="get">
                <table class="form" th:each="ord:${order}">
                    <tr>
                        <td class="field" >订单ID：</td>
                        <td><input type="text" class="text" name="o_uid" th:value="${ord.o_uid}"
                                    readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td class="field">订购人姓名：</td>
                        <td><input type="text" class="text" name="uid" th:value="${ord.user.login_name}"   readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td class="field">地区：</td>
                        <td><input type="text" class="text" name="region"  th:value="${ord.addr.getRegion()}"/></td>
                    </tr>
                    <tr>
                        <td class="field">街道：</td>
                        <td><input type="text" class="text" name="detailed_address" th:value="${ord.addr.getDetailed_address()}" /></td>
                    </tr>
                    <tr>
                        <td class="field">收货人：</td>
                        <td><input type="text" class="text" name="consignee" th:value="${ord.addr.getConsignee()}" /></td>
                    </tr>
                    <tr>
                        <td class="field">手机号码：</td>
                        <td><input type="text" class="text" name="mobile" th:value="${ord.addr.getMobile()}" /></td>
                    </tr>
                    <tr style="display: none">
                        <td class="field">地址id：</td>
                        <td><input type="text" class="text" name="address" th:value="${ord.getAddress()}" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label class="ui-blue"><input type="submit" value="更新" /></label></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div id="footer">Copyright 2007 - 2018 vancl.com All Rights Reserved 京ICP证100557号
    京公网安备11011502002400号 出版物经营许可证新出发京批字第直110138号</div>
</body>
</html>