<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理 - 凡客网</title>
    <link type="text/css" rel="stylesheet" href="hou/css/style.css" />
    <script type="text/javascript" src="hou/scripts/function-manage.js"></script>
    <script th:src="@{js/jquery-1.8.3.min.js}"></script>
</head>
<body>
<div id="header" class="wrap">
    <div id="logo">
        <img src="hou/images/logo_new.jpg" style="height:50px;width:80px;"/>
    </div>
    <div class="help">
        <a href="index.html">返回前台页面</a>
    </div>
    <div class="navbar">
        <ul class="clearfix">
            <li><a href="index.html">首页</a></li>
            <li><a href="user.html">用户</a></li>
            <li class="current"><a th:href="@{order}">订单</a></li>
            <li><a href="guestbook.html">留言</a></li>
            <li><a href="news.html">新闻</a></li>
        </ul>
    </div>
</div>
<div id="childNav">
    <div class="welcome wrap">管理员pillys您好，今天是2012-12-21，欢迎回到管理后台。</div>
</div>
<div id="position" class="wrap">
    您现在的位置：<a href="index.html">凡客网</a> &gt; 管理后台
</div>
<div id="main" class="wrap">
    <div id="menu-mng" class="lefter">
        <div class="box">
            <dl>
                <dt>用户管理</dt>
                <dd>
                    <a th:href="@{users}">用户管理</a></dd>
                <dt>商品信息</dt>
                <dd><em>
                    <a th:href="@{addProductClass}">新增</a>
                </em><a th:href="@{productClass}">分类管理</a></dd>
                <dd><em><a th:href="@{productAdd}">新增</a></em>
                    <a th:href="@{product}">商品管理</a></dd>
                <dt>订单管理</dt>
                <dd><a th:href="@{order}">订单管理</a></dd>
                <dt>留言管理</dt>
                <dd><a href="">留言管理</a></dd>
                <dt>新闻管理</dt>
                <dd><em><a href="">新增</a></em><a href="">新闻管理</a></dd>
            </dl>
        </div>
    </div>
    <div class="main">
        <h2>订单管理</h2>
        <div class="manage">
            <div class="search">
                <form method="get">
                    订单号：<input type="text" class="text" name="o_uid" />
                    订货人：<input
                        type="text" class="text" name="login_name" /> <label
                        class="ui-blue"><input type="submit" name="submit"
                                               value="查询" /></label>
                </form>
            </div>
            <div class="spacer"></div>
            <table class="list">
                <tr>
                    <th>ID</th>
                    <th>姓名</th>
                    <th>发货地址</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                <span th:each="order:${orders}">
                <tr>
                    <td class="first w4 c" th:text="${order.getO_uid()}">1</td>
                    <td class="w1 c" th:text="${order.getUser().getLogin_name()}">张三丰</td>
                    <td th:text="${order.addr.getRegion()+order.addr.getDetailed_address()}">高老庄</td>
                    <td class="w1 c">
                        <a th:href="@{updateOrderStatus(o_uid=${order.getO_uid()})}" style="color: red">
                        <span  th:if="${order.getO_status()}eq 1">待审核</span>
                        <span  th:if="${order.getO_status()}eq 2">已审核</span>
                        <span  th:if="${order.getO_status()}eq 3">配货中</span>
                        <span  th:if="${order.getO_status()}eq 4">卖家已发货</span>
                        <span  th:if="${order.getO_status()}eq 5">已收货</span>
                        </a>
                    </td>
                    <td class="w1 c"><a th:href="@{updateOrder}">修改</a> <a
                            href="javascript:Delete(1);">删除</a></td>
                </tr>
                </span>
            </table>
            <div class="pager">
                <ul class="clearfix">
                    <li><a th:href="@{order(pageIndex=1)}">首页</a></li>
                    <li><a th:href="@{order(pageIndex=${pg.getPageNum()-1})}">上一页</a></li>
                    <li><a th:href="@{order(pageIndex=${pg.getPageNum()+1})}">下一页</a></li>
                    <LI><A th:href="@{product(pageIndex=${pg.getPages()})}">末页</A></LI>
                    <LI><span th:text="${pg.getPageNum()}">1</span>/<span th:text="${pg.getPages()}">3</span></LI>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div id="footer">Copyright 2007 - 2018 vancl.com All Rights Reserved 京ICP证100557号
    京公网安备11011502002400号 出版物经营许可证新出发京批字第直110138号</div>
</body>
</html>