<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理 - 凡客网</title>
    <link type="text/css" rel="stylesheet" href="hou/css/style.css" />
    <script type="text/javascript" src="hou/scripts/function-manage.js"></script>
    <script th:src="@{js/jquery-1.8.3.min.js}"></script>
</head>
<body>
<div id="header" class="wrap">
    <div id="logo"><img src="hou/images/logo_new.jpg" style="height:50px;width:80px;"/></div>
    <div class="help"><a href="index.html">返回前台页面</a></div>
    <div class="navbar">
        <ul class="clearfix">
            <li><a th:href="@{shou}">首页</a></li>
            <li class="current"><a th:href="@{users}">用户</a></li>
            <li><a th:href="product">商品</a></li>
            <li><a th:href="@{order}">订单</a></li>
            <li><a href="#">留言</a></li>
        </ul>
    </div>
</div>
<div id="childNav">
    <div class="welcome wrap">
        管理员pillys您好，今天是2012-12-21，欢迎回到管理后台。
    </div>
</div>
<div id="position" class="wrap">
    您现在的位置：<a href="index.html">凡客网</a> &gt; 管理后台
</div>
<div id="main" class="wrap">
    <div id="menu-mng" class="lefter">
        <div class="box">
            <dl>
                <dt>用户管理</dt>
                <dd>
                    <a th:href="@{users}">用户管理</a></dd>
                <dt>商品信息</dt>
                <dd><em>
                    <a th:href="@{addProudctClass}">新增</a>
                </em><a th:href="@{productClass}">分类管理</a></dd>
                <dd><em><a th:href="@{addProduct}">新增</a></em>
                    <a th:href="@{product}">商品管理</a></dd>
                <dt>订单管理</dt>
                <dd><a th:href="@{order}">订单管理</a></dd>
                <dt>留言管理</dt>
                <dd><a href="">留言管理</a></dd>
            </dl>
        </div>
      </div>
    <div class="main">
        <h2>添加商品</h2>
        <div class="manage">
            <form action="/tjProduct" method="post" enctype="multipart/form-data">
                <table class="form">
                    <tr>
                        <td class="field">商品名称：</td>
                        <td><input type="text" class="text" name="p_name" value="铁三角 Audio-Technica ATH-EQ300M-SV 银色 挂耳式耳机" /></td>
                    </tr>
                    <tr>

                    </tr> <td class="field">所属分类：</td>
                    <td>
                        <select name="categoryLevel2" >
                                   <span th:each="cate:${session.list}">
                                    <option  disabled="disabled" th:value="${cate.getCc_id()}"><span th:text="${cate.getCc_name()}"></span></option>
                                        <option th:each="ca:${cate.getChile()}" th:value="${ca.getCc_id()}">├ <span th:text="${ca.getCc_name()}"></span></option>
                                   </span>
                        </select>
                    </td>
                    <tr>
                        <td class="field">商品图片：</td>
                        <td><input type="file" class="text" name="files" /></td>
                    </tr>
                    <tr>
                        <td class="field">商品价格：</td>
                        <td><input type="text" class="text tiny" name="p_price" /> 元</td>
                    </tr>
                    <tr>
                        <td class="field">优惠价格：</td>
                        <td><input type="text" class="text tiny" name="p_discount_price" /> 元</td>
                    </tr>
                    <tr>
                        <td class="field">是否新品：</td>
                        <td class="w1 c">
                            <select class="zt" name="new" >
                                <option  selected="selected" value="0">请选择</option>
                                <option value="1">是</option>
                                <option value="2">否</option>
                            </select>
                        </td>

                    </tr>
                    <tr>
                        <td class="field">库存：</td>
                        <td><input type="text" class="text tiny" name="p_stock" /></td>
                    </tr>
                    <tr>
                        <td class="field">描述：</td>
                        <td>
                           <textarea cols="50" rows="10" name="p_description">
                           </textarea>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label class="ui-blue"><input type="submit" name="submit" value="添加" /></label></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div id="footer">
    Copyright 2007 - 2018 vancl.com All Rights Reserved 京ICP证100557号
    京公网安备11011502002400号 出版物经营许可证新出发京批字第直110138号
</div>
</body>
</html>