<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<!--右固定定位通栏-->
<div class="right_wind" th:fragment="right_wind">
    <div class="BayWindow" style="position: fixed; right: 10px; bottom: 20px; z-index:10">
        <ul>
            <li class="downApp"><a href="http://m.vancl.com/html/app.html#ref=hp-hp-head-mobile-v:n" target="_blank"></a></li>
            <li class="online"><a href="http://imweb.vancl.com/" target="_blank"></a></li>
            <li class="BlackTop"><a href="javascript:;" onclick="javascript:document.getElementById(&#39;headerTopArea&#39;).scrollIntoView()"></a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>